body{
    margin: 0;
    padding: 2% 5%;
    background-color: aqua;
}

#A{
    display: grid;
    text-align: center;
}

h1{
    margin: 0 0 50px 0;
    font-size: 350%;
    font-family: cursive;
    color: green;
}

#cont{
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: center;
    width: 100%;
    box-sizing: content-box;
    gap: 30px;
    max-height: 100%;
}

a{
    height: 30vh;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
}

img{

    width: 100%;
    height: 100%;
}

a:hover{
    transform: scale(1.1);
}

